body {
        background-color: #003333;
      }
        
footer{
  text-align: right;
  font-style: italic;
  background-color: #000000;
  color: #000000;
   float: right;
   position: absolute;
   right: 0px;
   top: 457px;           
  width: 10010px;
  height: 120px;
}    
        
div {
  width: 720px;
  height: 430px;
  background-color: #000000;  
   float: right;
   position: absolute;
   right: 10px;
   top: 10px;       
}
        
#right{
   float: right;
   position: absolute;
   right: 900px;
   top: 350px;    
}     
        
    button:hover {
        background-color: aqua; 
        color: blue;
    }         
    
button{
  background: #000000;
  border: 3px solid #00ffff;
  border-radius: 4px; 
  color: #00ffff; 
  height: 30px;
}          

    #capture{
   float: right;
   position: absolute;
   right: 500px;
   top: 18px;          
        }
        
    #player{
   float: right;
   position: absolute;
   right: 350px;
   top: 40px;  
  border: 3px solid #00ffff;
  border-radius: 4px;         
        }        
      
    #cam{
   float: right;
background-color: #00ffff;         
   position: absolute;
   right: 540px;
   top: 290px;  
  border: 3px solid #00ffff;
  border-radius: 15px;  
    color: #ffffff;    
        } 
        
    #mic{
   float: right;
background-color: #00ffff;         
   position: absolute;
   right: 480px;
   top: 290px;  
  border: 3px solid #00ffff;
  border-radius: 15px;  
    color: #000000;    
        }     
        
			.hide {
			    display:none;
			}
			.show {
			    display:block;
			}        
